@* Views/Shared/PartialViews/ModalLayout.cshtml *@
 
@model (string Title, string SaveButtonText, string SaveButtonId, bool ShowFooter)

<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    @Model.Title
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                @if (Model.ShowFooter)
                {
                    <button type="submit" class="btn btn-primary" id="@Model.SaveButtonId" form="taskForm">@Model.SaveButtonText</button>
                }
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>